<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Home"></Label>
</ActionBar>

<GridLayout class="page__content">
    <ScrollView>
        <!-- <StackLayout>
            <WebView height="400" *ngFor="let w of lists" [src]="w" (loadFinished)="onLoadFinished($event)">
            </WebView>
        </StackLayout> -->
        <Button text="LOgin" (tap)="onLogin()"></Button>
    </ScrollView>



</GridLayout>